<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
       (function(){
          emailjs.init("user_5bB2qcfaXExJgY9kIq7az"); 
       })();
    </script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-smart-table/dist/smart-table.js"></script>
    <script src="/lr-sticky-header/lrStickyHeader.js"></script>
    <script src="/smart-table-sticky-header/stStickyHeader.js"></script>
    <script src="/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <h1 class='text-center'>Grace Shopper</h1>
    <p class="text-center lead">Buy our super cool stuff</p>
    <navbar></navbar>
    <div id="main" ui-view></div>
    </br>
    </br>
    </br>
    </br>

    <footer class="navbar navbar-default">
        <div class="container">
          <p class="navbar-text pull-left">© 2016 - Site Built By WKT</p>
          
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="navbar-btn btn-danger btn pull-right">
          <span class="glyphicon glyphicon-star"></span>  Watch us on YouTube!</a>
    </footer>
    
</body>
</html>
