.sidebar {
  position: relative;
  width: 320px;
  float: left;
  overflow: hidden;
  min-height: 600px;
}

.fixed {
	position: fixed;
}

.sidebar-outer {
    margin-top: 10px;
    position: relative;
}
