<div>

	Filter by order id<input type="text" ng-model="search.orderId" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by user email<input type="text" ng-model="search.email" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by order status<input type="text" ng-model="search.status" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by state <input type="text" ng-model="search.state" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by city <input type="text" ng-model="search.city" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by zipcode<input type="text" ng-model="search.zipcode" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>
	Filter by country<input type="text" ng-model="search.country" class = 'form-control' ng-change="filter()" placeholder="Search by order id"/></br>

	<div ng-repeat='order in filterOrders = (orders | filter : {id: search.orderId} | filter : {status : search.status} | filter : {user: {email: search.email}} | filter : {address: {line1: search.line1}} | filter : {address: {state: search.state}} | filter : {address: {city: search.city}} | filter : {address: {zip: search.zipcode}} | filter : {address: {country: search.country}}   ) | limitTo: numPerPage:numPerPage * (page-1)' class = 'container well'>

		Order id: {{order.id}} </br>
		User Email: {{order.user.email}} </br>
		Order status: {{order.status}} </br>
		Order placing time: {{order.orderDate}} </br>
		total amount: {{order.total}}
		<div ng-repeat='item in order.orderitems'  class = 'alert alert-danger'>
		{{item.instrument.title}} with a quantity of {{item.quantity}} and a subtotal of {{item.price}}
		</div>
		Shipping address: {{order.address.line1}} {{order.address.line2}} </br>
		Shipping city: {{order.address.city}} </br>
		Shipping state: {{order.address.state}} </br>
		Shipping zipcode: {{order.address.zip}} </br>
		Shipping country: {{order.address.country}} </br>

		<button ui-sref='edit({id: order.id})' class = 'btn btn-danger'>Edit this order</button>
		<button ng-click='delete(order.id)' class =' btn btn-success'> delete this order!</button>
	</div>

	<ul uib-pagination class = "pagination-sm pagination" total-items="filterOrders.length" ng-model="page" items-per-page ="numPerPage" previous-text="&lsaquo" next-text="&rsaquo" ng-change="pageChange()"></ul>


</div>