<div class='container'>
	<div class='col-xs-2 col-md-6 pull-right'>
		<ul>
			<img ng-repeat='picture in product.image' class="img-responsive" style='width:80%;height:250px;padding:5px;' ' ng-src="{{picture}}"/>	
		</ul>
	</div>	
	
	<div class='col-xs-3 col-md-5 pull-left'>
		<h2>Product Detail</h2>
		<ul>
			<li>Title:{{product.title}}</li>
			<li>Brand:{{product.brand}}</li>
			<li>Type:{{product.type}}</li>
			<li>Description:{{product.description}}</li>
		</ul>
		<h5>Buy it Now!</h5>
		<h6>{{product.quantity}}</h6>
		<ng-form name='orderProduct' novalidate>
			Qty: <input type='number' required ng-model='product.quantity' ng-min='1' value='1'>
			<button type='button' class='btn btn-md btn-success' ng-click='addInstrument(product)' ng-disabled='orderProduct.$invalid'>Add to Cart</button>
		</ng-form>
	</div>
</div>

<div class='container'>
	<div class="panel panel-default">
		<h3>Product Reviews</h3>
		<div ng-repeat='review in reviews' class='well top-buffer'>
			<div class='panel-heading'>
				<h5>Title: {{review.title}}</h5>
			</div>
			<div class='panel-body'>
				<p>User <a ui-sref="userProfile({id: review.user.id})">{{review.user.firstName}} {{review.user.lastName}}</a> rated this a {{review.rating}} out of 5</p>
				<p>{{review.content}}</p>
			</div>
		</div>	
	</div>
</div>	