h4.small-title{
	display:inline;
	font-family: "Arial";
	font-weight: bold;
	color:#000099;
}

h4.search-title{
	display:inline;
	font-family: "Arial";
	font-weight: bold;
	color:#cc0000;
}

h5.content{
	display:inline;
	font-size: 20px;
	font-family: "Times New Roman";
}

p.big-strong{
	font-size:18px;
	font-family: "Arial";
	font-weight:bold;
	display:inline;
}

