<div class='container addPaddingBot'>
	<span class='h1'>Product Management Edit Page</span>
	<!-- onaftersave executes when button type submit is pressed -->
	<form editable-form name='editableForm' onaftersave='edit(product)'>
	<div>
		<button type='button' class='btn btn-danger' ng-click='deleteProduct(product.id)' ng-show='!editableForm.$visible'>Delete</button>	
		<button type='button' class='btn btn-info' ng-click='editableForm.$show()' ng-show='!editableForm.$visible'>Edit</button>
		<span ng-show='editableForm.$visible'>
			<button type='submit' class='btn btn-primary' ng-disabled='editableForm.$waiting'>Save</button>
			<button type='button' class='btn btn-default' ng-disabled='editableForm.$waiting' ng-click='editableForm.$cancel()'>Cancel</button>
		</span>		
		<br clear='all'>
		<div>	
			<div class='col-md-5 editForm'>
				<span class='title'> Product Name: </span>
				<span class='title text-center' editable-text='product.title'>{{product.title}}</span>	
			</div>
			<div class='col-md-5 editForm'>
				<span class='title'> Product Brand: </span>
				<span class='title text-center' editable-text='product.brand'>{{product.brand}}</span>	
			</div>	
			<div class='col-md-5 editForm'>
				<span class='title'> Product Family: </span>
				<span class='title text-center' editable-text='product.family'>{{product.family}}</span>	
			</div>
			<div class='col-md-5 editForm'>
				<span class='title'> Product Type: </span>
				<span class='title text-center' editable-text='product.type'>{{product.type}}</span>	
			</div>
			<div class='col-md-5 editForm'>
				<span class='title'> Product Quantity: </span>
				<span class='title text-center' type='number' min='0' editable-text='product.quantity'>{{product.quantity}}</span>	
			</div>
			<div class='col-md-5 editForm'>
				<span class='title'> Product Price: </span>
				<span class='title text-center' type='number' min='0' editable-text='product.price'>{{product.price}}</span>	
			</div>
			<div class='col-md-5 editForm'>
				<span class='title'> Product Description: </span>
				<span class='title text-center' editable-textarea='product.description'>{{product.description}}</span>	
			</div>	
		</div>		
	</div>	
	<br clear='all'>
	<br>

	<div class='container'>
		<div class='input-group input-group-lg col-md-12' ng-show='editableForm.$visible' >
		<label>Add New Image Here!</label>
		<input type='text' ng-model='product.newImgUrl' ng-disabled='editableForm.$waiting' class='form-control' placeholder="Insert New Image URL Here!"/>
		</div>
		<br>	
		<div ng-repeat='picture in product.image track by $index' class='col-md-4'>
			<button ng-show='editableForm.$visible' ng-disabled='editableForm.$waiting' type='button' class='btn btn-sm btn-danger' ng-click="deleteImg($index)">
			<i class='glyphicon glyphicon-trash pull-right'></i>
			</button>
			<img class='img-responsive imgMax' ng-src="{{picture}}"/>
		</div>
	</div>

	</form>
</div>
